GEMINI_API_KEY=""

## Optional: Enable LangSmith tracing and set up API keys
LANGCHAIN_TRACING_V2 = true
LANGCHAIN_ENDPOINT = 'https://api.smith.langchain.com'
LANGCHAIN_API_KEY=""
LANGCHAIN_PROJECT='LEGALX-AI'